/* @media (max-width: 1230px) {
    .nav-list {
        display: none;
    }
    .nav-button {
        display: block;
    }

    .nav.open .nav-list {
        
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #fff;

        z-index: 1;
        padding: 46px 30px;

        display: flex;
        flex-direction: column;
        row-gap: 40px;

        font-size: 34px;
        font-weight: 600;


    }
} */